- This is Next.js 15 Project
- This app is about name tag maker
- Use Tailwind CSS
- Use Shadcn UI
- Use Typescript
- use the best practices of Next.js 15
- use Phosphor icons with import from "@phosphor-icons/react/dist/ssr"